<nav class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item" [routerLinkActive]="'active'">
      <a [routerLink]="['/clientes']">Clientes</a>
    </li>
    <li class="sidebar-item" [routerLinkActive]="'active'">
      <a [routerLink]="['/cuentas']">Cuentas</a>
    </li>
    <li class="sidebar-item" [routerLinkActive]="'active'">
      <a [routerLink]="['/movimientos']">Movimientos</a>
    </li>
    <li class="sidebar-item" [routerLinkActive]="'active'">
      <a [routerLink]="['/reportes']">Reportes</a>
    </li>
  </ul>
</nav>
